<div class="car-details">
    <div class="car-details-image"></div>
    <div class="car-details-info">
        <div>
            <text-es>Nombre: </text-es>
            <text-en>Name: </text-en>
            <div class="car-details-info-name"></div>
        </div>
        
        <div>
            <text-es>Marca: </text-es>
            <text-en>Brand: </text-en>
            <div class="car-details-info-brand"></div>
        </div>
        <div>
            <text-es>Km: </text-es>
            <text-en>Km: </text-en>
            <div class="car-details-info-km"></div>
        </div>
        <div>
            <text-es>Precio: </text-es>
            <text-en>Price: </text-en>
            <div class="car-details-info-price"></div>
        </div>
        
        <div>
            <text-es>Descripcion: </text-es>
            <text-en>Description: </text-en>
            <div class="car-details-info-description"></div>
        </div>
        
    </div>
</div>