<div class="login-signup">
    <div class="buttons">
        <div class="buttons-login enabled">Login</div>
        <div class="buttons-signup">Signup</div>
    </div>
    <div class="login tab enabled">
        <input class="login-email" placeholder="Username or email" type="text">
        <input class="login-password" placeholder="Password" type="password">
        <div class="login-signup-button login-button">Login</div>
    </div>
    <div class="signup tab">
        <input class="signup-email" placeholder="Username or email" type="text"/>
        <input class="signup-password" placeholder="Password" type="password">
        <input class="signup-retype-password" placeholder="Retype password" type="password">
        <div class="login-signup-button signup-button">Signup</div>
    </div>
</div>
