<div class="car-filter">
    <input type="text" class="car-filter-search" placeholder="Search...">
    <div class="car-filter-autocomplete"></div>
    <div>
        <div class="car-filter-button">
            <text-es>Categorias</text-es>
            <text-en>Categories</text-en>
            <i class="gg-chevron-down"></i>
        </div>
        <div class="car-filter-modal modal-category">
            <div class="modal-category-el" value="offroad">
                <text-es>Todoterreno</text-es>
                <text-en>Offroad</text-en>
            </div>
            <div class="modal-category-el" value="van">
                <text-es>Furgoneta</text-es>
                <text-en>Van</text-en>
            </div>
            <div class="modal-category-el" value="minivan">
                <text-es>Monovolumen</text-es>
                <text-en>Minivan</text-en>
            </div>
            <div class="modal-category-el" value="sporty">
                <text-es>Deportivos</text-es>
                <text-en>Sporty</text-en>
            </div>
        </div>
    </div>
    
    <div>
        <div class="car-filter-button">
            <text-es>Precio</text-es>
            <text-en>Price</text-en>
            <i class="gg-chevron-down"></i>
        </div>
        <div class="car-filter-modal">
            <div class="car-filter-modal-label">
                <text-es>¿Cuanto quieres pagar?</text-es>
                <text-en>How much do you want to pay?</text-en>
            </div>
            <div class="car-filter-centered car-filter-range" min="0" max="50000">
                <div class="car-filter-range-nocolor"></div>
                <div class="car-filter-range-radio car-filter-range-radio-min"><i class="gg-chevron-right"></i></div>
                <div class="car-filter-range-line"></div>
                <div class="car-filter-range-radio car-filter-range-radio-max"><i class="gg-chevron-left"></i></div>
            </div>
            <div class="car-filter-modal-from-to">
                <div>
                    <div class="car-filter-modal-label">
                        <text-es>Desde</text-es>
                        <text-en>From</text-en>
                    </div>
                    <input type="number">
                </div>
                <div>
                    <div class="car-filter-modal-label">
                        <text-es>Hasta</text-es>
                        <text-en>To</text-en>
                    </div>
                    <input type="number">
                </div>
            </div>
            <div class="car-filter-modal-price-buttons">
                <div class="car-filter-modal-cancel-button">
                    <text-es>Cancelar</text-es>
                    <text-en>Cancel</text-en>
                </div>
                <div class="car-filter-modal-button car-filter-modal-apply-button">
                    <text-es>Aplicar</text-es>
                    <text-en>Apply</text-en>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="car-filter-button car-filter-published">
            <text-es>Publicado</text-es>
            <text-en>Posted</text-en>
            <i class="gg-chevron-down"></i>
            
        </div>
        <div class="car-filter-modal modal-published">
            <div class="modal-published-el" value="today">
                <text-es>Hoy</text-es>
                <text-en>Today</text-en>
            </div>
            <div class="modal-published-el" value="week">
                <text-es>Esta semana</text-es>
                <text-en>This week</text-en>
            </div>
            <div class="modal-published-el" value="month">
                <text-es>Este mes</text-es>
                <text-en>This month</text-en>
            </div>
            <div class="modal-published-el" value="year">
                <text-es>Este año</text-es>
                <text-en>This year</text-en>
            </div>
        </div>
    </div>
    <div>
        <div class="car-filter-button">
            <text-es>Ordenar por</text-es>
            <text-en>Order by</text-en>
            <i class="gg-chevron-down"></i>
        </div>
        <div class="car-filter-modal modal-order">
            <div class="modal-order-el" value="expensive">
                <text-es>Mas caro</text-es>
                <text-en>Most expensive</text-en>
            </div>
            <div class="modal-order-el" value="cheap">
                <text-es>Mas barato</text-es>
                <text-en>Most cheaper</text-en>
            </div>
            <div class="modal-order-el" value="popular">
                <text-es>Popularidad</text-es>
                <text-en>Popularity</text-en>
            </div>
            <div class="modal-order-el" value="recent">
                <text-es>Mas recientes</text-es>
                <text-en>Recent cars</text-en>
            </div>
        </div>
    </div>
    
</div>