<div class="car-filter">
    <input type="text" class="car-filter-search" placeholder="Search...">
    <div>
        <div class="car-filter-button">
            <text-es>Categorias</text-es>
            <text-en>Categories</text-en>
            <i class="gg-chevron-down"></i>
        </div>
        <div class="car-filter-modal modal-category"></div>
    </div>
    
    <div>
        <div class="car-filter-button">
            <text-es>Precio</text-es>
            <text-en>Price</text-en>
            <i class="gg-chevron-down"></i>
        </div>
        <div class="car-filter-modal">
            <div class="car-filter-modal-label">
                <text-es>¿Cuanto quieres pagar?</text-es>
                <text-en>How much do you want to pay?</text-en>
            </div>
            <div class="car-filter-centered car-filter-range" min="0" max="50000">
                <div class="car-filter-range-nocolor"></div>
                <div class="car-filter-range-radio car-filter-range-radio-min"><i class="gg-chevron-right"></i></div>
                <div class="car-filter-range-line"></div>
                <div class="car-filter-range-radio car-filter-range-radio-max"><i class="gg-chevron-left"></i></div>
            </div>
            <div class="car-filter-modal-from-to">
                <div>
                    <div class="car-filter-modal-label">
                        <text-es>Desde</text-es>
                        <text-en>From</text-en>
                    </div>
                    <input type="number">
                </div>
                <div>
                    <div class="car-filter-modal-label">
                        <text-es>Hasta</text-es>
                        <text-en>To</text-en>
                    </div>
                    <input type="number">
                </div>
            </div>
            <div class="car-filter-modal-price-buttons">
                <div class="car-filter-modal-cancel-button">
                    <text-es>Cancelar</text-es>
                    <text-en>Cancel</text-en>
                </div>
                <div class="car-filter-modal-button car-filter-modal-apply-button">
                    <text-es>Aplicar</text-es>
                    <text-en>Apply</text-en>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="car-filter-button car-filter-published">
            <text-es>Publicado</text-es>
            <text-en>Posted</text-en>
            <i class="gg-chevron-down"></i>
        </div>
        <div class="car-filter-modal modal-posted"></div>
    </div>
    <div>
        <div class="car-filter-button car-filter-published">
            <text-es>Ordenar por</text-es>
            <text-en>Order by</text-en>
            <i class="gg-chevron-down"></i>
        </div>
        <div class="car-filter-modal modal-posted"></div>
    </div>
    
</div>