<div class="categories">
    <div>
        <div class="category" value="offroad">
            <div class="category-title">
                <text-es>Todoterreno</text-es>
                <text-en>All terrain</text-en>
            </div>
        </div>
    </div>
    <div>
        <div class="category" value="sporty">
            <div class="category-title">
                <text-es>Deportivos</text-es>
                <text-en>Sporties</text-en>
            </div>
        </div>
    </div>
    <div>
        <div class="category" value="minivan">
            <div class="category-title">
                <text-es>Monovolumenes</text-es>
                <text-en>Minivans</text-en>
            </div>
        </div>
    </div>
    <div>
        <div class="category" value="van">
            <div class="category-title">
                <text-es>Furgonetas</text-es>
                <text-en>Vans</text-en>
            </div>
        </div>
    </div>
</div>