
/*
    #fd5b5b

*/
body {
    margin: 0;
}
.header {
    background-color: #fd5b5b;
    width: 100%;
    display: flex;
    padding: 10px;
    height: 60px;
    align-items: center;
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    -moz-user-select: none;
    user-select: none;
    position: fixed;
    z-index: 10;
}
.header-logo {
    font-style: italic;
    font-size: 19pt;
    margin-left: 100px;
}
.header-menu {
    margin-left: auto;
    margin-right: 50px;
    display: flex;
    align-items: center;
    
}
.header-menu > div {
    font-size: 18pt;
    width: 100px;
    padding: 10px;
    text-align: center;
}

.header-menu div:hover {
    background-color: #c54444;
    cursor: pointer;
    border-radius: 10px;
}
.header-menu-lang {
    position: relative;
}
.header-menu-lang-menu {
    display: none;
}
.header-menu-lang-menu div {
    padding: 5px;
}
.header-menu div.header-menu-lang:hover .header-menu-lang-menu, .header-menu-lang-menu:hover {
    left: 0px;
    top: 48px;
    display: block;
    position: absolute;
    box-sizing: border-box;
    background-color: #fd5b5b;
    border-radius: 7px;
    padding: 10px;
    width: 100%;
}
.header-separator {
    height: 60px;
    width: 100%;
}