<div id="car-modal-shadow" class="car-modal-shadow-hidden" style="display: none;"></div>
<div id="car-modal" class="car-modal-hidden" nohtml-elem-key="car-modal" style="display: none;">
    <div id="car-modal-close">
        x
    </div>
    <div class="img-car" id="car-modal-img"></div>
    <input type="text" id="car-modal-name">
    <input type="text" id="car-modal-description">
    <input type="number" id="car-modal-price">
    <input type="number" id="car-modal-km">
    <input type="text" id="car-modal-brand">
    <input type="text" id="car-modal-at">
    <div id="car-model-image"></div>
    <input type="hidden" id="car-modal-id" name="id">
    <button id="car-modal-submit">Submit</button>
</div>