<div class="header">
    <div class="header-logo">AUTOCARS</div>
    <div class="header-menu">
        <div value="">
            <text-en>Home</text-en>
            <text-es>Inicio</text-es>
        </div>
        <div value="shop">
            <text-en>Shop</text-en>
            <text-es>Tienda</text-es>
        </div>
        <div class="header-menu-lang">
            <text-en>Lang</text-en>
            <text-es>Idioma</text-es>
            <div class="header-menu-lang-menu">
                <div value="en">
                    <text-en>English</text-en>
                    <text-es>Ingles</text-es>
                </div>
                <div value="es">
                    <text-en>Spanish</text-en>
                    <text-es>Español</text-es>
                </div>
            </div>
        </div>
        <div value="account">
            <text-en>Account</text-en>
            <text-es>Cuenta</text-es>
        </div>
    </div>
</div>
<div class="header-separator"></div>